@font-face {
	font-family: "ZX spectrum";
	src: url("./font/zx-spectrum.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "ZX spectrum";
	font-size: 12px;
	margin: 0;
	padding: 20px;
}

main {
	display: flex;
	justify-content: space-between;
}

#list {
	display: grid;
	list-style-type: none;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(137px, 1fr));
	width: 100%;
	margin: 0;
	padding: 0;
}

#list li {
	cursor: pointer;
	background-color: #eee8e8;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#list li:hover {}

#description {
	display: none;
}

#description.show {
	display: block;
}